:root {
    --head-h: 80px;
    --img-width: 200px;
    --skill-width: 150px;
    --img-skill-width: 60px;
    --c1: #ffa000;
    --c2: #ffca28;
    --c3: #ffeb3b;
}

body,
html {
    padding: 0;
    margin: 0;
    color: #444;
}

/* head */
#head {
    width: 100%;
    height: var(--head-h);
    line-height: var(--head-h);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#head #head-text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 2rem;
}

/* content */
#content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

/* photo-wrapper */
#photo-wrapper {
    text-align: center;
    font-weight: bold;
}

#photo-wrapper img {
    width: var(--img-width);
    height: var(--img-width);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
        10px 10px 15px rgba(0, 0, 0, 0.1),
        15px 15px 15px rgba(0, 0, 0, 0.1);
}

#photo-wrapper #profile-name {
    font-size: 24px;
    padding-top: 1.5rem;
    color: var(--c1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 1px var(--c3);
    margin-top: 60px;
    margin-bottom: 40px;
}

/* grid layout skills */
.skill-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* grid layout skills */
.skill-card {
    background-color: #eee;
    width: var(--skill-width);
    height: var(--skill-width);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1),
        8px 8px 10px rgba(0, 0, 0, 0.1),
        12px 12px 15px rgba(0, 0, 0, 0.1);
}

/* one line skill */
.skill-one-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* one line skill */
.skill-card-one-line {
    margin: 10px;
    background-color: #eee;
    width: var(--skill-width);
    height: var(--skill-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1),
        8px 8px 10px rgba(0, 0, 0, 0.1),
        12px 12px 15px rgba(0, 0, 0, 0.1);
}

.skill-icon {
    width: var(--img-skill-width);
    height: var(--img-skill-width);
}

.para {
    font-size: 20px;
    line-height: 1.5;
    text-indent: 2rem;
    color: #777;
    text-align: justify;
}

#blank {
    height: 200px;
}